# Ignore environment variable files
.env
# Ignore compiled JavaScript files
dist/
output/
_buildOutput/
node_modules/
*.log
*.tsbuildinfo
# Only push VSCode Files of interest
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json