JWT_SECRET='secret'
JWT_SECREAT_FALLBACK = 'secret-fallback'
PORT='3000'

USR_EXAMPLE_NAME = 'example-name'
USR_EXAMPLE_PASSWORD = 'example-password'
USR_EXAMPLE_HASHSALT = '11111111111';

NETWORK_WOL_BROADCAST_IP = "255.255.255.255"
NETWORK_WOL_PORT = 9

NETWORK_DEVICE1_MAC   ="AA:BB:CC:DD:EE:FF"
NETWORK_DEVICE1_NAME  ="PCNAME_1"
NETWORK_DEVICE2_MAC   ="AA:BB:CC:DD:EE:FF"
NETWORK_DEVICE2_NAME  ="PCNAME_2"
